Package: kr.xsf1re.vnodebypass
Name: vnodebypass
Architecture: iphoneos-arm
Description: An awesome tool of some sort!!
Maintainer: XsF1re
Author: XsF1re
Section: System
Tag: role::hacker
Version: 0.1.1
Installed-Size: 136
